.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2em;
  padding-top: var(--header-height); // 70px défini dans Header.scss
  padding: 2rem;
}

.footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: oklch(1 0 0 / 0.6);
}
